.padding{
  position: relative; 
  display: inline-block;
  padding: 6px
}
  /*The following is a modified CSS based on Monks Little Details by ironmonk88 (https://github.com/ironmonk88/monks-little-details)*/
.isdeadly-backgroundRed {
  display: inline-block;
  padding: 0px 4px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
  vertical-align: top;
  background-color: #b94a48;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  position: relative;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 20px;
  padding: 4px;
  margin-left: 0px;
}
.isdeadly-backgroundClear {
  display: inline-block;
  padding: 2px 4px;
  line-height: 16px;
  color: black;
  white-space: nowrap;
  vertical-align: top;
  background-color: #ffffff00;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  position: relative;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 20px;
  padding: 4px;
  margin-left: 0px;
}
.isdeadly-backgroundGreen {
  display: inline-block;
  padding: 0px 4px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
  vertical-align: top;
  background-color: #468847;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  position: relative;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 20px;
  padding: 4px;
  margin-left: 0px;
}
.isdeadly-backgroundOrange {
  display: inline-block;
  padding: 0px 4px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
  vertical-align: top;
  background-color: #f89406;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  position: relative;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 20px;
  padding: 4px;
  margin-left: 0px;
}
.isdeadly-backgroundChat {
  display: inline-block;
  padding: 0px 4px;
  line-height: 16px;
  color: #b94a48;
  white-space: nowrap;
  vertical-align: top;
  background-color: #f8930600;
  border-radius: 3px;
  height: 25px;
  text-align: center;
  position: relative;
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: 20px;
  left: 25%
}
.container {
  border: none;
}
.dialogbox {
  display: flex;
  flex-direction: column;
  background: transparent;
}
#debm-window .window-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  font-family: var(--dnd5e-font-roboto-condensed);
  text-align: start;
  color: var(--color-text-dark-primary);
  background: url(/systems/dnd5e/ui/texture-gray1.webp) no-repeat top left, url(/systems/dnd5e/ui/texture-gray2.webp) no-repeat bottom right, var(--dnd5e-color-parchment);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 16px var(--dnd5e-shadow-45);
  border: 1px solid var(--dnd5e-color-gold);
  border-top: 0px;
}
#debm-window .dialogbox filigree-box {
  padding: 10px;
}
#debm-window .window-header {
  background: transparent url("/systems/dnd5e/ui/official/banner-character.jpg") no-repeat center/cover; 
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid var(--dnd5e-color-gold);
  border-bottom: 0px;
}
#debm-window input,
#debm-window button {
  transition: all 250ms ease;
}
#debm-window button {
  background: var(--dnd5e-color-card);
  font-family: var(--dnd5e-font-roboto);
  font-weight: bold;
  font-size: var(--font-size-13);
  text-transform: uppercase;
  padding: 0.1875rem;
  border: 1px solid var(--color-border-light-2);
  box-shadow: 0 0 8px var(--dnd5e-shadow-15);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
#debm-window button:disabled {
  cursor: default;
  color: var(--color-text-dark-inactive);
}
#debm-window button:hover:not(:disabled),
#debm-window button:focus {
  box-shadow: 0 0 5px var(--color-shadow-primary);
}
#debm-window button.radio-button {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: none;
  box-shadow: inset 0 0 6px var(--dnd5e-shadow-45);
  padding: 3px;
  display: grid;
  border: none;
  justify-content: unset;
}
#debm-window button.radio-button:hover {
  filter: drop-shadow(0 0 6px var(--dnd5e-color-gold));
}
#debm-window button.radio-button[aria-pressed="true"]::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 100%;
  background: var(--color-border-dark-5);
}
